
<<<<<<< HEAD
img {

  width:80%;

  }

  .content {

    widows: 1280px;;
  } 


  
=======

div .content img{

    width:780px;
  }


  .content {

    grid-area: c;
    background-color: lightcoral;
    }
>>>>>>> ea8fe3532ddd7b36e8bcee1047a16417e7a155d8

