

.header {
    grid-area: h ;
    background-color: indigo;
<<<<<<< HEAD
    width: 1280px;
=======
>>>>>>> ea8fe3532ddd7b36e8bcee1047a16417e7a155d8
    }
    

    
    .header img {
      width:20px;
      
      }
      