.nav {
    grid-area: n;
    background-color: green;
<<<<<<< HEAD
    padding: 20px;
    
    }

   .item a {

    color: lightgray;
    text-decoration: none;
   } 

   .item a.activeLink {

color: gold;

   }

   .friendbar {
   display: flex;
   flex-direction: row;
   }
=======
    
    }

   .item {

    color: lightgray;
   } 

>>>>>>> ea8fe3532ddd7b36e8bcee1047a16417e7a155d8
