

.DialogsItems{
    padding: 10px;
}

.active {

color: gold;

}
.Dialog {
}

.item img{

    /* width: unset; */
    /* box-shadow: -5px -1px 15px 15px black; */

    width: 30px;
    height: 30px;
    border-radius: 50px;
}